
/* global declaration */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Audiowide", sans-serif;
    color: white;
    /* border: 1px solid red; */
}

body {
   background-color: #0000ff50;
   background-image: linear-gradient(0deg,#0000ff50,#ff000050);
   /* display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
   overflow: hidden;
   margin: 0; */
}

p {
   font-size: 1.3em;
}

button {
   background-color: chartreuse;
   background-image: linear-gradient(0deg,chartreuse, #ffa580);
   color: red;
   /* border: none;
   display: block; */
   /* width: 100%; */
   cursor: pointer;
   font-size: 1rem;
   padding: .5rem;
}

button:hover {
   background-color: red;
   background-image: linear-gradient(0deg,red, #ffa580);
   color:chartreuse;
   box-shadow: 10px 10px 10px 10px red;
   height: 3rem;
} 

h1, h2 {
   color: #7fffd450;
   text-align: center;
}

li {
   list-style: none;
}
/* outer container */

.outer-container {
   padding: 10px;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: start;
}

/* top bar container */

.top-bar p {
float: right;
}

/* inner container */
.inner-container {
   background-image: linear-gradient(45deg,#0000ff50,#ff000050);
   height: 100vh;
   width: 60%;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   justify-content: start ;
}

/* Header/Quiz: intro section */

.quiz-intro, main {
  
   margin-bottom: 30vh;
   margin-left: 10%;
   margin-right: 10%;
   background-color: #0000ff00;
}

.quiz-intro p {
   text-align: center;
}

.quiz-intro button {
   display: block;
   width: 50%;
   margin: 0 auto;
}

/* Main Quiz Content */









/* body {
    background-color: #0000ff50;
    background-image: linear-gradient(0deg,#0000ff50,#ff000050);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
} */

/* Start Page */

/* .start-container {
    width: 50vw;  vw is relative to 1% of the viewport 
    height: 100vh; vh is relative to 1% of the viewport 
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
 } */

 /* .flex-column {
    display: flex;
    flex-direction: column;
 }

 .flex-center {
    justify-content: center;
    align-items: center;
 } */

 /* Quiz Pages */
/*  
.quiz-container {
    background-color: #7cfc0050;
    background-image: linear-gradient(45deg,#7cfc0050, #ffa580);
    box-shadow: 0 0 10px 2px yellowgreen;
    width: 50rem;
    overflow: hidden; 
}

.quiz-header {
    padding: 3rem;
}

h2 {
    padding: 1rem;
    text-align: center;
    margin: 0;
}
 ul {
    list-style-type: none;
    padding: 0;
 }

 ul li {
    font-size: 1rem;
    margin: 1.5rem 0;
 }

 ul li label {
    cursor: pointer;
 }

 button {
    background-color: chartreuse;
    background-image: linear-gradient(0deg,chartreuse, #ffa580);
    color: red;
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 1rem;
    padding: .5rem;
 }

 button:hover {
    background-color: red;
    background-image: linear-gradient(0deg,red, #ffa580);
    color:chartreuse;
    box-shadow: 10px 10px 10px 10px red;
    height: 3rem;
 }

 button:focus {
    background-color: aqua;
 } */



